@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url(../fontes/Neon.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: escrita;
    src: url(../fontes/Caveat-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: nome;
    src: url(../fontes/AlexBrush-Regular.ttf) format(truetype);
    font-weight: normal;
}

:root {
    --cor1: black;
    --cor2: white;
    --corfundo: rgba(0, 0, 0, 0.39);

    --fontetitulo: 'titulo', arial;
    --fonteescrita: 'escrita', Arial;
    --fontenome: 'nome', arial;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;  
}

header > h1 {
    font-family: var(--fontetitulo);
    font-variant: small-caps;
    font-size: 6vw;
    padding-top: 50px;
    margin: auto;
}

header > p {
    font-size: 2.5vw;
    padding-bottom: 50px;
}

header a, footer a {
    font-family: var(--fontenome);
    text-decoration: none;
    color: var(--cor2);
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonteescrita);
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;  
}

section > p {
    padding-bottom: 1em;
}

section.normal {
    background-color: var(--cor2);
    color: var(--cor1);
}

section.imagem {
    background-color: var(--corfundo);
    color: var(--cor2);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
    background-size: cover;
}

section.imagem > p {
    background-color: var(--corfundo);
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding-right: 20px;
    border-radius: 10px;

}

section#img01 {
    background: var(--corfundo) url(../imagens/background001.jpg) center center no-repeat fixed;
}

section#img02 {
    background: var(--corfundo)  url(../imagens/background002.jpg) right center no-repeat fixed;
}

footer {
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}
