@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url(../fontes/Neon.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: escrita;
    src: url(../fontes/Caveat-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: nome;
    src: url(../fontes/AlexBrush-Regular.ttf) format(truetype);
    font-weight: normal;
}

:root {
    --cor1: black;
    --cor2: white;

    --fontetitulo: 'titulo', arial;
    --fonteescrita: 'escrita', Arial;
    --fontenome: 'nome', arial;
}


body {
    margin: 0px;
}

header {
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;  
    padding: 50px;
    max-width: 98%;
}

header > h1 {
    font-family: var(--fontetitulo);
    padding-bottom: 10px;
    font-size: 4em;
    margin: auto;
}

header > p {
    font-size: 1.5em;
}

p > a {
    font-family: var(--fontenome);
    text-decoration: none;
    color: var(--cor2);
}

p > a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonteescrita);
    font-size: 2em;
}

footer {
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
}

footer > p {
    margin: 0px;
    padding: 10px;
    font-size: 1.2em;
}